.ddown {
  box-sizing: border-box;

  font-size: 16px;
  width: 100%;
  border-radius: 4px;
  color: var(--text-default);
  background-color: var(--background-base-lowest);
  border: none;
  transition: border-color 0.2s ease-in-out;
  padding: 10px;

  appearance: none;

  cursor: pointer;
}

.ddown option {
  /* TODO --background-base-lowest doesn't seem to work here (at least on Windows). Oh well. */
  background: #333;
  color: var(--text-default);
}

.dcontainer {
  position: relative;
  width: 100%;
}

.dsarrow {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.dsarrow path {
  fill: var(--text-subtle);
}

.ddownplaceholder {
  color: var(--text-subtle);
}
